---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "normalize";
@import "vars";
@import "mixins";
@import "base";
@import "list";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.page_footer {
  background-color: $color_main;
  color: $color_contrast;
  .heart {
    @include hearticon(8px);
  }
}

.heart-wrap {
  display: block;
  text-align: center;
  overflow: hidden;
}

.intro {
  text-align: center;
  margin: 0 auto 2rem;
}
