---
layout: default
title: wwwtf.berlin
intro: A full week of events for and by the web tech community in Berlin. We welcome you to attend, and encourage you to <a href="add-your-event">add your own event</a>.<br><small>Are you travelling to Berlin? Check out our <a href="/welcome/">Berlin Survival Guide</a>.</small>
class: pull-up-content--list
---

{% assign previousDate = site.date %}

<ol class="eventlist" id="eventlist">
  {% for post in site.posts reversed %}
    <li class="eventlist-element">
      <div class="eventlist-element__content" id="{{ post.id }}">
        <div class="eventlist-element__main">
          {% if post.date == previousDate %}
            <time datetime="{{ post.date | date: "%Y-%m-%d" }}"class="eventlist-element__date eventlist-element--is-hidden">
              <span class="eventlist-element__date-day">{{ post.date | date: "%d" }}</span>
              <span class="eventlist-element__date-day-name">{{ post.date | date: "%a" }}</span>
            </time>
          {% else %}
            <time datetime="{{ post.date | date: "%Y-%m-%d" }}"class="eventlist-element__date">
              <span class="eventlist-element__date-day">{{ post.date | date: "%d" }}</span>
              <span class="eventlist-element__date-day-name">{{ post.date | date: "%a" }}</span>
            </time>
          {% endif %}
          <span class="eventlist-element__title">
            <a class="eventlist-element__link" href="{{ post.href }}">{{ post.title }}</a>
          </span>
          <span class="eventlist-element__time">{{ post.time }}</span>
          <a class="eventlist-element__expand" href="#{{ post.id }}"><i class="eventlist-element__plus icon icon-plus"></i></a>
          <a class="eventlist-element__collapse" href="#"><i class="eventlist-element__plus icon icon-plus"></i></a>
        </div>
        {% assign previousDate = post.date %}
          <div class="eventlist-element__more">
            <span class="eventlist-element__venue">Venue: {{ post.venue }}</span>
            <span class="eventlist-element__ticket">{{ post.ticket }}</span>
          </div>
        </div>
      </a>
    </li>
  {% endfor %}
</ol>

<script>
  (function() {
    var listitems = document.getElementById( 'eventlist' ).children;
    var gradientRgb = '0,0,0'

    overlayGradient( listitems, gradientRgb );

    function overlayGradient( elements, rgbvalue ) {
      var increment = 1 / elements.length;

      for (var i = elements.length - 1; i >= 0; i--) {
        var bgcolor = 'rgba(' + rgbvalue + ',' + increment * i / 1.5 + ')';
        elements[i].style.backgroundImage = '-webkit-linear-gradient(' + bgcolor + ', ' + bgcolor + ')';
        elements[i].style.backgroundImage = 'linear-gradient(' + bgcolor + ', ' + bgcolor + ')';
      };
    }
  })()
</script>
<!--  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->
