<div class="event__attendance {% if modifier != '' %}event__attendance--{{ modifier }}{% endif %}">
  {% if post.ticket == 'sold-out' %}
    <span class="event__status event__status--sold-out">Sold Out!</span>
  {% endif %}
  {% if post.ticket == 'free' %}
    <span class="event__status">Free</span>
  {% endif %}
  {% if post.ticket == 'rsvp' %}
    <a href="{{ post.href }}" class="event__status event__status--buy-ticket">RSVP</a>
  {% endif %}
  {% if post.ticket == 'buy' %}
    <a href="{% if post.ticket_href %}{{ post.ticket_href }}{% else %}{{ post.href }}{% endif %}"
       class="event__status event__status--buy-ticket">
       Buy Ticket
    </a>
  {% endif %}
</div>
