<footer class="box box--footer">
  <div>
    From the community for the community with
    <svg class="icon icon--footer icon--inline icon--small" alt="<3">
      <use xlink:href="#icon-heart"></use>
    </svg>
  </div>
  <nav>
    <ul class="nav nav--footer">
      <li class="nav__item">
        <a href="https://github.com/{{ site.github_repo }}" class="nav__link">
          <svg class="icon icon--nav">
            <use xlink:href="#icon-github"></use>
          </svg>
        </a>
      </li>
      <li class="nav__item">
        <a href="https://twitter.com/{{ site.twitter_username }}" class="nav__link">
          <svg class="icon icon--nav">
            <use xlink:href="#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</footer>
