<footer class="box box--footer">
  <div>
    From the community for the community with
    <svg class="icon icon--footer icon--inline icon--small" alt="<3">
      <use xlink:href="#icon-heart"></use>
    </svg>
  </div>
  <nav>
    <ul class="nav nav--footer">
      <li class="nav__item">
        <a href="https://github.com/{{ site.github_repo }}" class="nav__link">
          <svg class="icon icon--nav">
            <use xlink:href="#icon-github"></use>
          </svg>
        </a>
      </li>
      <li class="nav__item">
        <a href="https://twitter.com/{{ site.twitter_username }}" class="nav__link">
          <svg class="icon icon--nav">
            <use xlink:href="#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-100392605-1', 'auto');
  ga('send', 'pageview');
</script>
