<section class="box box--intro">
  <div class="container">
    <h1 class="box__headline wave">
        <span class="letter">W</span><span class="letter">W</span><span class="letter">W</span><span class="letter">T</span><span class="letter">F</span>
      <span class="superscript">X</span></h1>
    <p>
      A celebration of the web community,<br>
      happening around JSConf and CSSconf EU
    </p>
    <div class="box__location">Berlin, May and June 2019</div>
    <div class="scroll-indicator"></div>
  </div>
</section>
