body {
  font-family: "PT Sans Narrow", "Arial Narrow", sans-serif;
  font-weight: 400;
}

body {
  font-size: 1em;
  line-height: 1.333;
  color: $color_font;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  @media screen and (min-width: 21.052631579em) {
    font-size: 1.2em;
  }
  @media screen and (min-width: 29.894736842em) {
    font-size: 1.4em;
  }
}

a {
  color: saturate($color_main, 70%);
  text-decoration: none;
  &:hover, &:focus {
    opacity: .75;
  }
}

.page-header a {
  color: $color_contrast;
  &:hover, &:focus {
    color: rgba($color_contrast, .75);
  }
}

.page-header .button, .button {
  display: inline-block;
  padding: .5em .75em;
  border: 2px solid $color_contrast;
  text-decoration: none;
  &:hover, &:focus {
    color: $color_main;
    background-color: $color_contrast;;
  }
}

.wrap {
  width: 100%;
  max-width: $max-page-width;
  margin: 0 auto;
  padding: 0 0.714rem;
}

.page-header {
  background-color: $color_main;
 // background: url('../img/space.png') no-repeat scroll top center;
  color: white;
  padding-top: 2rem;
  padding-bottom: 1.5rem;

  &::after {
    content: "";
    display: block;
    clear: both;
  }

  .site-title {
    display: block;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    margin-bottom: .5em;
    text-align: center;
    @media screen and (min-width: 21.052631579em) {
      float: left;
      text-align: left;
    }
  }
  .site-nav {
    font-size: 1rem;
    text-align: center;
    a {
      display: inline-block;
      padding: .5rem;
      margin-left: .25rem;
      margin-right: .25rem;
    }
    @media screen and (min-width: 21.052631579em) {
      float: right;
      text-align: right;
    }
  }
  .title {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 0;
    line-height: 1;
  }
  .title-subline {
    display: block;
    font-size: 1rem;
  }
}

.page_footer {
  font-size: 1rem;
  padding: .5rem 0 .4rem 0;
  @media screen and (min-width: 21.052631579em) {
   padding: .75rem 0 .6rem 0;
  }
  a{
    color: $color_contrast;
    text-decoration: underline;
  }
}

.page-content{
  padding: 2rem 0;
  @media screen and (min-width: 43.75em) {
    padding: 3rem 0;
  }
}

// pulls up content in order to overlay intro
.pull-up-content {
  margin-top: -12rem;
}
.pull-up-content--text {
  padding: 1rem 2rem;
  background-color: $color_contrast;
}

.wtf-hover {
  overflow: hidden;
  white-space: nowrap;
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    width: 100%;
  }

  &::after {
    content: "WhatTheFest";
    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover::after {
    content: "WhatTheF***";
  }
}

.page-intro {
  padding-top: 2rem;
  padding-bottom: 10rem;
  text-align: center;
  clear: both;
  background-color: lighten($color_main, 50%);

  a {
    white-space: nowrap;
  }
}

.subnav {
  list-style: none;
  padding-left: 0;
  text-align: center;
  li {
    display: inline-block;
    a {
      display: block;
      padding: .5em;
    }
  }
}

.icon-plus {
  width: 15px;
  height: 15px;
  display: inline-block;
  position: relative;

  &::before {
    content: "";
    height: 100%;
    width: 20%;
    position: absolute;
    top: 0;
    left: 40%;
    background-color: white;
    background-color: currentcolor;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }

  &::after {
    content: "";
    height: 20%;
    width: 100%;
    position: absolute;
    top: 40%;
    left: 0;
    background-color: white;
    background-color: currentcolor;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
}
