body {
  font-family: "PT Sans Narrow", "Arial Narrow", sans-serif;
  font-weight: 400;
}

body {
  font-size: 1em;
  line-height: 1.333;
  color: $font-color;
  -webkit-font-smoothing: antialiased;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  @media screen and (min-width: 21.052631579em) {
    font-size: 1.2em;
  }
  @media screen and (min-width: 29.894736842em) {
    font-size: 1.4em;
  }
}

a {
  color: $main-color;
  text-decoration: none;
  &:hover, &:focus {
    color: $main-color;
  }
}

.wrap {
  width: 100%;
  max-width: $max-page-width;
  margin: 0 auto;
  padding: 0 0.714rem;
}

.page_header {
  position: relative;
  .site-title {
    display: block;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    margin-bottom: .5em;
    text-align: center;
    @media screen and (min-width: 21.052631579em) {
      float: left;
      text-align: left;
    }
  }
  .site-nav {
    @media screen and (min-width: 21.052631579em) {
      float: right;
      text-align: right;
    }
  }
  .title {
    display: block;
    font-weight: 700;
    margin-bottom: 0;
  }
  .skyline {
    display: block;
    width: 100%;
    height: 100%;
    fill: $contrast-color;
  }
}

.page_footer {
  font-size: .842105263em;
  padding: .4rem 0 .3rem 0;
  @media screen and (min-width: 21.052631579em) {
   padding: .6rem 0 .5rem 0;
  }
  a{
    color: $contrast-color;
    text-decoration: none;
    border-bottom: 1px dashed $contrast-color;
  }
}

.page_content{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
          -ms-flex: auto;
  padding: 2rem 0;
  overflow: hidden;
  @media screen and (min-width: 43.75em) {
    padding: 3rem 0;
  }
}

.wtf-hover {
  overflow: hidden;
  white-space: nowrap;
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    width: 100%;
  }

  &::after {
    content: "WhatTheFest";
    position: absolute;
    top: 0;
    left: 0;
  }

  &:hover::after {
    content: "WhatTheF***";
  }
}

.icon-plus {
  width: 15px;
  height: 15px;
  display: inline-block;
  position: relative;

  &::before {
    content: "";
    height: 100%;
    width: 20%;
    position: absolute;
    top: 0;
    left: 40%;
    background: currentcolor;
    border-radius: 2px;
  }

  &::after {
    content: "";
    height: 20%;
    width: 100%;
    position: absolute;
    top: 40%;
    left: 0;
    background: currentcolor;
    border-radius: 2px;
  }
}
