$element-href-width: 3rem;
$element-date-width: 4rem;

.eventlist {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.eventlist-element {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: $color_eventlist;
}

.eventlist-element a {
  color: white;

  &:hover,
  &:focus {
    color: white;
  }
}

.eventlist-element__link {
  color: white;
  display: block;

  &:hover,
  &:focus {
    color: white;
  }
}

.eventlist-element__more {
  font-size: .85em;
  opacity: .75;
  margin-left: $element-date-width;
}

.eventlist-element__content {
  padding: .75rem;
  padding-right: (.75rem + $element-href-width);
  color: white;
}

.eventlist-element__more {
  display: none;
}

.eventlist-element__content:target,
.eventlist-element__content.open {
  background: rgba(255,255,255,.1);
  .eventlist-element__more {
    display: block;
  }
}

.eventlist-element__date {
  display: inline-block;
  width: $element-date-width;
}

.eventlist-element__title {
  display: inline-block;
  padding-right: .25em;
  font-weight: bold;
}

.eventlist-element__time {
  opacity: .75;
}

.eventlist-element__expand,
.eventlist-element__collapse {
  width: $element-href-width;
  padding: .75rem;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  background: rgba(0,0,0,.2);
}

.eventlist-element__collapse {
  visibility: hidden;

  .eventlist-element__content:target & {
    visibility: visible;
  }
}

.eventlist-element__expand {
  visibility: visible;

  .eventlist-element__content:target & {
    visibility: hidden;
  }
}

.eventlist-element__plus {
  opacity: .35;
  transition: transform .25s;

  .eventlist-element__content:target &,
  .eventlist-element__content.open & {
    opacity: 1;
    transform: rotate( (45deg + 90deg) );
  }
}

.eventlist-element__label {
  font-size: .8rem;
  text-transform: uppercase;
  opacity: .5;
}

.eventlist-element__time,
.eventlist-element__venue,
.eventlist-element__ticket {
  margin-right: .75em;
}
