$kriesseblue: #1d4b6e;
$jsconfpink: #E10079;
$jsconfblue: #051add;


$color_main: $jsconfpink; //change this color to change the entire site's color scheme
$color_contrast: #FFFFFF;

$color_font: #575756;
$color_font: desaturate(darken($color_main, 20%),80%);

$color_eventlist: $kriesseblue;


$max-page-width: 32em;
