$color_main: purple; //change this color to change the entire site's color scheme
$color_contrast: #FFFFFF;
$color_font: #575756;
$color_eventlist: purple;


$color_eventlist: $color_main;


$max-page-width: 32em;
