.main {
  margin: 7rem 0;
  z-index: 2;
  position: relative;
  background-color: white;
  margin-bottom: 4.5rem; // to leave room for the footer
  padding-bottom: 4.5rem;

  a:hover {
    color: rgba($color-blue, .65);
  }
}

.main--events {
  margin-top: 100vh;
}
