.nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  font-size: .875rem;
  list-style: none;
}

.nav__item {
  margin-left: 1rem;
}

.nav__link {
  border: 2px solid transparent;
  color: #fff;
  display: block;
  padding: .5rem .75rem;
  transition: color .2s ease-in-out;

  &:hover {
    color: rgba(#fff, .85);
  }

  &:active {
    color: rgba(#fff, .7);
  }
}

.nav__link--featured {
  border-color: $color-yellow;

  &::before {
    content: "+";
    margin-right: .25rem;
  }
}

.nav--footer {
}
