.wave {
  $waveDuration: 0.8;
  $waveDelay: 0.05;
  $waveRatio: round($waveDuration/$waveDelay);

  .letter {
    display: inline-block;
    transform: translate3d(0, 0, 0);
    will-change: transform;
    animation: textWave .8s infinite alternate cubic-bezier(0.5, 0, 0.5, 1);

    @for $i from 1 through ($waveRatio + 1) {
      &:nth-child(#{$waveRatio}n + #{$i}) {
        animation-delay: ($i * $waveDelay) + s;
      }
    }
  }
}

@keyframes textWave {
  from { transform: translateY(-0.7vw) }
  to { transform: translateY(0.7vw) }
}
