.container {
  margin: 0 auto;
  max-width: 60rem;
  min-width: 18rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.superscript {
  border: 1px #fff solid;
  border-radius: 3px;
  font-size: 0.6em;
  padding: 0 10px;
  vertical-align: middle;
  margin-left: 10px;
}

.more_links {
  text-align: center;
  opacity: 0.7;
}

.more_links a:not(:first-child) {
  margin-left: 30px;
}
